<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<nav class="navbar fixed-top navbar-light bg-faded">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/cv">CV</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog">Blog</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		
		<div class="container">
			<footer>
				<ul>
					<li><a href="mailto:kimyen0816@gmail.com">email</a></li>
					<li><a href="https://github.com/kimyen">github.com/kimyen</a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
