<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
				<h3 class="text-muted">
					<a href="/">kimyen.github.io</a>
				</h3>
			</div>
			
			<div class="guide">
				{{ content }}
			</div>

			<div class="footer">
				<div class="row">
					<div class="col-sm-8">
						<p><small>&copy; kimyen.github.io 2017</small></p>
					</div>
					<div class="col-sm-4">
						<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
