<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/jumbotron-narrow.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/cv">CV</a></li>
					<li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
				</ul>
			</div>
			
			<div class="guide">
				{{ content }}
			</div>

			<div class="footer">
				<div class="row">
					<div class="col-sm-8">
						<p><small>&copy; kimyen.github.io 2017</small></p>
					</div>
					<div class="col-sm-4">
						<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
